# Conda environment
.env/
.venv/
env/
venv/
conda-meta/
*.conda
*.env
*.yml
!docker-compose.yml

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode and JetBrains IDEs
.vscode/
.idea/

# macOS and Linux system files
.DS_Store
Thumbs.db

# Project local secrets and DBs
.env
*.db
olist.db
faq_vectorstore/
agent_interactions.log

# Pip egg-info
*.egg-info/

# Logs and temporary files
*.log
*.swp